<nav>
  <div class="nav-wrapper  indigo darken-4 z-depth-2 ">
    <a href="#" class="brand-logo"> &nbsp;&nbsp;Examination Hall</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a *ngIf="loginService.isLoggedIn()" class="text-white" >Hello,  <strong [innerHTML]="getEmail()"></strong></a></li>
      <li><a *ngIf="!loginService.isLoggedIn()" [routerLink]="['login']" ><strong>Login</strong></a></li>
      <!-- <li><a *ngIf="!loginService.isLoggedIn()" [routerLink]="['register']" ><strong>Register</strong></a></li> -->
      <li><a *ngIf="loginService.isLoggedIn()" (click)="loginService.logout()" [routerLink]="['login']" class="waves-effect white lighten-2 indigo-text text-darken-4  btn" ><strong>Logout</strong></a></li>

      &nbsp;&nbsp;
    </ul>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" >
           <router-outlet></router-outlet>
      </div>
    </div>
</div>
