/* You can add global styles to this file, and also import other style files */
/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;

  } */
html, body { height: 100vh; overflow: auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loader {
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  }

